.overlay{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity = 50); 
  pointer-events: none;
}

.loader {
  display: none;
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 50%;
  margin-bottom: 64px;
}

#content {position: relative;}

#authorization {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
